<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title> Wybory prezydenckie 2000 </title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(
            {{ diagram|safe }}
        );

        var options = {
          title: 'Wyniki wyborów',
          sliceVisibilityThreshold: .0
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

</head>
<body>
    <div>
        <h1> Powiat {{powiat}}, Gmina {{ gmina }} </h1>
    </div>


    <div>
        <h2>
            Kandydaci na prezydenta
        </h2>
        <ul>
            {% for cand, votes in res_dict.items() %}
                <li> {{ cand }}  {{ votes }}</li>
            {% endfor %}
        </ul>

    </div>

    <div id="piechart" style="width: 900px; height: 500px;">

    </div>


    <div>
        <h2> Ogólne statystyki </h2>
        <ul>
            {% for rubryka, wartosc in ogolne.items() %}
                <li> {{ rubryka }} {{ wartosc }} </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>