{% extends "unit.html" %}

    {% block importy %}
        <link rel="stylesheet" type="text/css" media="screen" href="../../styles/pl-mapa-500px.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script type="text/javascript" src="../../styles/pl-mapa.js"></script>
    {% endblock %}


    {% block mapa %}
       <div id="map-pl">
            <ul id="polska">
                {% for ind, name in enum_subnames %}
                     <li id = "pl{{ind}}">  <a href = {{ root + subunits[name].destination }} > {{ subunits[name].full_type }} {{ subunits[name].full_name }} </a> </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
